/* web-app.css CSS */

/* don't forget to validate at https://jigsaw.w3.org/css-validator/ */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


body {
  background-color: #ffffcc;
  font-size: 16px;
  height: 100vh; /* make the "page" the full height */
  color: #333333;
}

.web-app {
  margin:  0 1em;
  display:  grid;
  grid-template:
    'pageTitle'
    'listForm'
    'itemList';
  grid-gap: 1em;
}

#page-title {
  font-family: 'Oswald', sans-serif;
  color:  #ffffcc;
  font-size:  10vw;
  padding:  1em 0;
  background:  url('images/header.jpg');
  background-size: cover;
  text-align:  center;
  grid-area: pageTitle;
}

#page-description {
  font-size:  3em;
}

img {
  max-width:  100%;
}

#todo-items {
  grid-area: itemList;
}

#list-form {
  grid-area: listForm;
}


#todo-items {
  padding: 0 0 3em 0;
  list-style-type: none;
}

#todo-items > li {
  font-size:  2em;
  background-color: #02bf14;
  color:  #ffffff;
  padding:  0.5em;
  margin-bottom:  2px;
}

#todo-items > li > button {
  margin-left: 2em;
}

#add-item {
  font-size:  3em;
}

@media only screen and (min-width: 1024px) {
  .web-app {
    margin:  0 1em;
    grid-template:
      'pageTitle pageTitle'
      'itemList listForm';
    grid-gap: 1em;
  }

  #page-title {
    font-size:  10vw;
    padding:  1em 0;
  }
  #todo-items {
    width:  50vw;
}


