/* web-app.css CSS */

/* don't forget to validate at https://jigsaw.w3.org/css-validator/ */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


body {
  background-color: #ffffcc;
  font-size: 16px;
  height: 100vh; /* make the "page" the full height */
  color: #333333;
}

.web-app {
  margin:  0 1em;
  display:  grid;
  grid-template:
    'pageTitle'
    'pageTitle'
    'listHeader'
    'listForm';
  grid-gap: 1em;
}

#page-title {
  font-family: 'Oswald', sans-serif;
  color:  #ff0000;
  font-size:  4em;
  background:  url('images/work.jpg');
  background-size: cover;
  height:  6em;
  text-align:  center;
  padding-top: 3em;
  grid-area: pageTitle;
}

#page-description {
  font-size:  3em;
}

img {
  max-width:  100%;
}

#list-header {
  grid-area: listHeader;
  display: none;
}

#list-form {
  grid-area: listForm;
}


#todo-items {
  padding-bottom: 3em;
}

#todo-items > li {
  font-size:  2em;
}

#add-item {
  font-size:  3em;
}

@media only screen and (min-width: 1024px) {
  .web-app {
    margin:  0 1em;
    grid-template:
      'pageTitle pageTitle'
      'listHeader listForm';
    grid-gap: 1em;
  }
  
  #list-header {
    display: block;
  }
}


